#pweElementsAutoSwitch .pwe-countdown__wrapper {
    justify-content: center;
    gap: 18px;
    padding: 18px;
}
#pweElementsAutoSwitch .pwe-countdown__label,
#pweElementsAutoSwitch .pwe-countdown__timer {
    text-transform: uppercase;
    padding: 0 18px;
}
#pweElementsAutoSwitch .pwe-countdown__timer {
    font-size: 30px;
    display: flex;
    gap: 24px;
}
#pweElementsAutoSwitch .pwe-countdown__unit {
    display: flex;
    text-align: center;
    gap: 8px;
}
#pweElementsAutoSwitch .digits {
    display: flex;
}
#pweElementsAutoSwitch .digit {
    position: relative;
    width: 1ch;
    overflow: hidden;
    margin: 0 1px;
}
#pweElementsAutoSwitch .digit span {
    position: absolute;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
}
#pweElementsAutoSwitch .digit span.old {
    transform: translateY(0);
}
#pweElementsAutoSwitch .digit span.new {
    transform: translateY(100%);
}
#pweElementsAutoSwitch .digit span.static {
    position: relative;
    transform: translateY(0);
}
#pweElementsAutoSwitch .label {
    display: block;
    margin-top: 2px;
}
@media (max-width: 960px) {
    #pweElementsAutoSwitch .pwe-countdown__timer {
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 450px) {
    #pweElementsAutoSwitch .pwe-countdown__label,
    #pweElementsAutoSwitch .pwe-countdown__timer {
        font-size: 20px !important; 
    }
}