#exhibitorCatalog .exhibitor-catalog__exh-card {
    background-color: #fffffe;
    border-radius: 20px;
    box-shadow: 0px 0px 44px 0px #2a2b2d1a;
    display: flex;
    flex-direction: column;
    gap: 26px;
    overflow: hidden;
}
#exhibitorCatalog .exhibitor-catalog__exh-card-content {
    display: flex;
    gap: 36px;
    padding: 26px 26px 0;
}
#exhibitorCatalog .exhibitor-catalog__exh-card-info-logo-contianer {
    max-width: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
}
#exhibitorCatalog .exhibitor-catalog__exh-card-info {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}
#exhibitorCatalog .exhibitor-catalog__exh-card-info-logo {
    width: 100%;
    padding: 6px;
    aspect-ratio: 4/2;
    object-fit: contain;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #2a2b2d;
    border-radius: 14px 14px 0 0;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-info-stand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--main2-color);
    padding: 5px;
    border-radius: 0 0 14px 14px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-info-stand svg {
    aspect-ratio: 1/1;
    width: 24px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-info-stand-number {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}
#exhibitorCatalog .exhibitor-catalog__exh-card-info-contanct-contianer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#exhibitorCatalog .exhibitor-catalog__exh-card-info-contanct-single {
    display: flex;
    align-items: center;
    gap: 10px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-info-contanct-single:hover {
    text-decoration: underline;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-info-contanct-single-text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-text {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color: #2a2b2d;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-desc {
    font-size: 15px;
    font-weight: 400;
    color: #6d6e6e;
    margin: 0;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-title-brands {
    font-weight: 700;
    font-size: 18px;
    color: var(--accent-color);
    margin: 0;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-brand-container {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-brand-single {
    margin: 0;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 36px;
    font-weight: 700;
    font-size: 14px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-brand-single-more {
    margin: 0;
    padding: 16px;
    background-color: var(--main2-color);
    color: #fffffe;
    border-radius: 36px;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s ease;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-brand-single-more:hover {
    background-color: var(--main2_darker_color);
}

#exhibitorCatalog .exhibitor-catalog__exh-card-brand-single-more span {
    font-weight: 400;
    font-size: 16px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-website {
    background-color: var(--main2-color);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-website-link {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 24px;
    transition: 0.3s ease;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-website-link:hover {
    background-color: var(--main2_darker_color);
}

#exhibitorCatalog .exhibitor-catalog__modal-open {
    background: #00000040;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s ease;
}

#exhibitorCatalog .exhibitor-catalog__modal-open:hover {
    transform: scale(1.1);
}

/* ---------- // ANCHOR EXHIBITORS CARDS SWIPER ---------- */

#exhibitorCatalog .exhibitor-catalog__exh-card-files [hidden] {
    display: none !important;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-tab {
    background: transparent;
    color: #6d6e6e;
    font-weight: 700;
    font-size: 18px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-tab:hover {
    text-decoration: underline;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-tab.is-active {
    color: #2a2b2d;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-tab-count-number {
    color: #6d6e6e;
    font-weight: 400;
    font-size: 15px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files {
    padding: 0 26px 0;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-products {
    margin: 8px 0;
    display: flex;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-product {
    max-height: 150px;
    position: relative;
    border-radius: 14px;
    border: 1px solid #2a2b2d;
    aspect-ratio: 8/5;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-documents {
    margin: 8px 0;
    max-height: 162px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-document {
    aspect-ratio: 8/5;
    border-radius: 14px;
    border: 1px solid #2a2b2d;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    height: -webkit-fill-available;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-document-text {
    margin: 0;
    font-weight: 700;
    font-size: 10px;
    color: var(--accent-color);
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-document-name {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-document-link {
    font-weight: 700;
    font-size: 12px;
    background-color: var(--main2-color);
    color: white;
    margin: auto 0 0 auto;
    padding: 8px;
    border-radius: 36px;
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-document-link:hover {
    background-color: var(--main2_darker_color);
}

#exhibitorCatalog .exhibitor-catalog__exh-card-files-document svg {
    height: 24px;
}

button.exh-files__next {
    display: none;
}

@media (max-width: 960px) {
    #exhibitorCatalog .exhibitor-catalog__exh-card-content {
        gap: 12px;
        padding: 12px 12px 0;
        flex-direction: column;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info {
        flex-direction: row;
        align-items: center;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info-logo-contianer {
        max-width: 160px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info-contanct-single-text {
        font-size: 14px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-title {
        font-size: 24px;
        line-height: 28px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info-stand {
        gap: 4px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info-stand-number {
        font-size: 12px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info-stand svg {
        width: 18px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-brand-single {
        padding: 12px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-brand-single-more {
        padding: 14px;
        font-size: 12px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-brand-single-more span {
        font-size: 14px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card {
        gap: 18px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-files {
        padding: 0 12px 0;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-files-tab {
        font-size: 16px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-website-link {
        padding: 18px;
        font-size: 16px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-text {
        padding-top: 8px;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-desc {
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    #exhibitorCatalog .exhibitor-catalog__exh-card-info-contanct-single-text {
        line-height: 100%;
    }
    #exhibitorCatalog
        .exhibitor-catalog__panel-filter-search--floating
        .exhibitor-catalog__panel-filter-search {
        flex: 0.3 !important;
    }
}
