.pwe-element-auto-switch .pwe-premieres__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}
.pwe-element-auto-switch .pwe-premieres__header-title img {
    padding: 10px;
}
.pwe-element-auto-switch .pwe-premieres__header .pwe-subtitle {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.8px;
}
.pwe-element-auto-switch .pwe-premieres__header .pwe-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.1;
    color: #0B172B;
    margin-top: 10px;
}
.pwe-element-auto-switch .pwe-premieres__header img {
    max-width: 200px;
}
.pwe-element-auto-switch .pwe-premieres__slide {
    display: flex;
    gap: 18px;
}
.pwe-element-auto-switch .pwe-premieres__image {
    position: relative;
    flex: 0 0 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid black;
}
.pwe-element-auto-switch .pwe-premieres__image img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.pwe-premieres__fullscreen-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ffffff94;
    display: flex;
    border-radius: 4px;
}
.pwe-premieres__fullscreen-icon svg {
    transition: .3s ease;
}
.pwe-premieres__fullscreen-icon:hover svg {
    width: 44px;
    height: 44px;
}
.pwe-premieres__fullscreen {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.pwe-premieres__fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 20px;
}
.pwe-premieres__fullscreen-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 999;
    user-select: none;
}
.pwe-element-auto-switch .pwe-premieres__content {
    flex: 0 0 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid black;
    padding: 18px;
}
.pwe-element-auto-switch .pwe-premieres__content-bg {
    background: var(--background-color);
    padding: 24px;
    border-radius: 18px 18px 0 0;
}
.pwe-element-auto-switch .pwe-premieres__content-header {
    display: flex;
    gap: 24px;
}
.pwe-element-auto-switch .pwe-premieres__content .pwe-premieres__company-logo {
    background: #999;
    border-radius: 18px;
    padding: 6px;
}
.pwe-element-auto-switch .pwe-premieres__content .pwe-premieres__company-logo img {
    max-width: 140px;
    object-fit: contain;
}
.pwe-element-auto-switch .pwe-premieres__company-short-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pwe-element-auto-switch .pwe-premieres__company-stand span {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 20px;
}
.pwe-element-auto-switch .pwe-premieres__company-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}
.pwe-element-auto-switch .pwe-premieres__premiere-name {
    font-size: 26px;
    font-weight: 700;
    margin: 24px 0 12px;
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc {
    max-height: 125px;
    min-height: 125px;
    overflow-y: auto;
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc,
.pwe-element-auto-switch .pwe-premieres__premiere-desc p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
.pwe-element-auto-switch .pwe-premieres__content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.pwe-element-auto-switch .pwe-premieres__counter {
    font-size: 18px;
    color: #0B172B;
}
.pwe-element-auto-switch .pwe-premieres__counter span:first-child {
    font-weight: 700;
    font-size: 20px;
    color: var(--accent-color);
}
@media(max-width: 960px) {
    .pwe-element-auto-switch .pwe-premieres__header {
        padding-bottom: 18px;
    }
    .pwe-element-auto-switch .pwe-premieres__slide {
        flex-direction: column;
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        gap: 0px;
    }
    .pwe-element-auto-switch .pwe-premieres__image, 
    .pwe-element-auto-switch .pwe-premieres__content {
        flex: 1 1 auto;
        width: 100%;
        border: unset;
    }
    .pwe-element-auto-switch .pwe-premieres__image {
        border-radius: 18px 18px 0 0;
    }
    .pwe-element-auto-switch .pwe-premieres__content-bg {
        border-radius: 0 0 18px 18px;
    }
    .pwe-element-auto-switch .pwe-premieres__content {
        padding: 12px;
    }
    .pwe-element-auto-switch .pwe-premieres__content-header {
        gap: 18px;
    }
    .pwe-element-auto-switch .pwe-premieres__content-bg {
        padding: 18px;
    }
    .pwe-element-auto-switch .pwe-premieres__header .pwe-title {
        font-size: 30px;
    }
    .pwe-element-auto-switch .pwe-premieres__content .pwe-premieres__company-logo img {
        max-width: 100px;
    }
    .pwe-element-auto-switch .pwe-premieres__premiere-desc, 
    .pwe-element-auto-switch .pwe-premieres__premiere-desc p {
        line-height: 1.5;
    }
    .pwe-element-auto-switch .pwe-premieres__premiere-name {
        margin: 12px 0;
    }
    .pwe-element-auto-switch .pwe-premieres__content-footer {
        margin-top: 36px;
    }
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc {
    padding-right: 8px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    -webkit-overflow-scrolling: touch;
}
/* Chrome, Edge, Safari */
.pwe-element-auto-switch .pwe-premieres__premiere-desc::-webkit-scrollbar {
    width: 6px;
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.pwe-element-auto-switch .pwe-premieres__premiere-desc::-webkit-scrollbar-button {
    display: none;
}

@media(max-width: 960px) {
    .pwe-element-auto-switch .pwe-premieres__header img {
        display: none;
    }
}
