.pwe-element-auto-switch .pwe-confirmation-visitors-registration--byli .pwe-confirmation-visitors-registration__content {
    background-color: #171717;
    color: white;
}
.pwe-element-auto-switch .pwe-confirmation-visitors-registration--byli .pwe-confirmation-visitors-registration__form-column {
    background-color: #f3ede4;
}
.pwe-element-auto-switch .pwe-confirmation-visitors-registration--byli .pwe-confirmation-visitors-registration__button {
    border-color: #b69663 !important;
    background-color: #b69663 !important;
}
.pwe-element-auto-switch .pwe-confirmation-visitors-registration--byli .pwe-confirmation-visitors-registration__button:hover {
    background-color: white !important;
    color: #b69663 !important;
}
