.pwe-element-auto-switch .pwe-header__container {
    display: flex;
    padding: 36px;
    position: relative;
    overflow: hidden; 
}
.pwe-element-auto-switch .pwe-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    z-index: 1; 
}
.pwe-element-auto-switch .pwe-header__column.pwe-header__content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pwe-element-auto-switch .pwe-header__content-wrapper {
    display: flex;
    justify-content: end;
}
.pwe-element-auto-switch .pwe-header__tile {
    background: #ffffff87;
    max-width: 500px;
    backdrop-filter: blur(10px);
    padding: 18px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pwe-element-auto-switch .pwe-header__main-content-block {
    text-align: start;
}
.pwe-element-auto-switch .pwe-header__logo {
    max-width: 240px;
}
.pwe-element-auto-switch .pwe-header__title h1 {
    font-size: 32px;
}
.pwe-element-auto-switch .pwe-header__title h1, 
.pwe-element-auto-switch .pwe-header__title p {
    text-align: left;
    margin-top: 18px;
    text-transform: unset;
    color: black;
}
.pwe-element-auto-switch .pwe-header__edition {
    text-align: left;
}  
.pwe-element-auto-switch .pwe-header__edition span {
    background: var(--accent-color);
    color: #fff;
    padding: 8px 14px;
    border-radius: 36px;
    font-weight: 700;
    font-size: 15px;
}
.pwe-element-auto-switch .pwe-header__date-block {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.pwe-element-auto-switch .pwe-header__date-block h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-size: 20px;
    text-transform: unset;
    color: black;
    gap: 8px;
}
.pwe-element-auto-switch .pwe-header__date-block h2 span {
    display: flex;
    align-items: center;
    gap: 4px;
}
.pwe-element-auto-switch .pwe-header__date-block i {
    color: black;
    font-size: 22px;
    text-align: start;
}
.pwe-element-auto-switch .pwe-header__bottom {
    background: var(--accent-color);
    padding: 18px 36px;
}
.pwe-element-auto-switch .pwe-header__bottom-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.pwe-element-auto-switch .pwe-btn-container {
    padding: 0;
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 18px;
}
.pwe-element-auto-switch #pweBtnRegistration .pwe-btn {
    position: relative;
    background: var(--main2-color);
    color: white;
    padding: 12px 50px 12px 30px !important;
    border-radius: 24px !important;
    font-weight: 700;
    text-align: center;
    min-width: auto !important;
    display: flex;
    align-items: center;
    gap: 10px;
}
.pwe-element-auto-switch #pweBtnRegistration .pwe-btn:hover {
    background: var(--main2_darker_color);
}
.pwe-element-auto-switch #pweBtnRegistration .pwe-btn svg {
    position: absolute;
    right: 28px;
    transition: .3s ease;
}
.pwe-element-auto-switch #pweBtnRegistration .pwe-btn:hover svg {
    position: absolute;
    right: 22px;
}
.pwe-element-auto-switch .video-background {
    position: relative;
}
.pwe-element-auto-switch .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 45%);
}
.pwe-element-auto-switch .pwe-header .video-background {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}
.pwe-element-auto-switch .pwe-header .video-background iframe {
    position: absolute;
    top: -36vh;
    left: 0;
    width: 100vw;
    height: 160vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}
.pwe-element-auto-switch .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
@media(max-width:1350px){
   .pwe-element-auto-switch  .pwe-header .video-background iframe {
        width: 100vw;
        height: 100vh;
        top: -9vh;
    }
}

@media(max-width:960px){
   .pwe-element-auto-switch .video-background {
        display:none !important;
    }
    .pwe-element-auto-switch .pwe-header__wrapper { 
        flex-direction: column;
    }
}

@media(max-width:570px) {
    .pwe-element-auto-switch .pwe-header__container {
        padding: 0;
    }
    .pwe-element-auto-switch .pwe-header__column.pwe-header__content-column {
        width: 100%;
    }
    .pwe-element-auto-switch .pwe-header__content-wrapper {
        width: 100%;
        justify-content: center;
    }
    .pwe-element-auto-switch .pwe-header__tile h1 {
        font-size: 22px;
    }
    .pwe-element-auto-switch .pwe-header__edition span {
        padding: 7px 21px;
        font-size: 14px;
    }
    .pwe-element-auto-switch .pwe-header__tile {
        padding: 18px;
        margin: 50px 18px 18px;
        width: 100%;
    }
    .pwe-element-auto-switch .pwe-header__date-block h2 {
        font-size: 16px;
    }
    .pwe-element-auto-switch .pwe-header__column.pwe-header__content-column {
        align-items: center;
    }
}