#pweElementsAutoSwitch .medals {
    max-width: 100%;
    padding: 0;
    background: linear-gradient(to right, transparent, var(--accent_light_color));
}
#pweElementsAutoSwitch .pwe-medals {
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px 18px;
}
#pweElementsAutoSwitch .pwe-medals__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
#pweElementsAutoSwitch .pwe-medals__content {
    padding: 18px 0;
}
#pweElementsAutoSwitch .pwe-medals__content-mobile {
    display: none;
}
#pweElementsAutoSwitch .pwe-medals__sub-heading {
    margin: 0;
    font-weight: 600;
}
#pweElementsAutoSwitch .pwe-medals__heading {
    margin-top: 18px;
}
#pweElementsAutoSwitch .pwe-medals__items {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#pweElementsAutoSwitch .pwe-medals__item {
    position: relative;
    transition: 0.5s ease;
}
#pweElementsAutoSwitch .pwe-medals__item img {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}


#pweElementsAutoSwitch .pwe-medals__items .first {
    z-index: 1;
}
#pweElementsAutoSwitch .pwe-medals__items .first img {
    width: 260px;
}
#pweElementsAutoSwitch .pwe-medals__items .second {
    margin-left: -50px;
    z-index: 2;
}
#pweElementsAutoSwitch .pwe-medals__items .second img {
    width: 160px;
}
#pweElementsAutoSwitch .pwe-medals__items .third {
    margin-left: -70px;
    z-index: 3;
}
#pweElementsAutoSwitch .pwe-medals__items .third img {
    width: 160px;
}
#pweElementsAutoSwitch .pwe-medals__items .fourth {
    margin-left: -70px;
    z-index: 4;
}
#pweElementsAutoSwitch .pwe-medals__items .fourth img {
    width: 160px;
}
 

/* HOVER – SECOND */
#pweElementsAutoSwitch .pwe-medals__items .second:hover ~ .third,
#pweElementsAutoSwitch .pwe-medals__items .second:hover ~ .fourth {
    margin-left: -50px;
}

#pweElementsAutoSwitch .pwe-medals__items .second:hover img {
    width: 260px;
}

#pweElementsAutoSwitch .pwe-medals__items .second:hover ~ .third img,
#pweElementsAutoSwitch .pwe-medals__items .second:hover ~ .fourth img,
#pweElementsAutoSwitch .pwe-medals__items:has(.second:hover) .first img {
    width: 160px;
}


/* HOVER – THIRD */
#pweElementsAutoSwitch .pwe-medals__items .third:hover {
    z-index: 5;
}

#pweElementsAutoSwitch .pwe-medals__items .third:hover img {
    width: 260px;
}

#pweElementsAutoSwitch .pwe-medals__items .third:hover ~ .fourth {
    margin-left: -50px;
}

#pweElementsAutoSwitch .pwe-medals__items .third:hover ~ .fourth img,
#pweElementsAutoSwitch .pwe-medals__items .third:hover ~ .second img,
#pweElementsAutoSwitch .pwe-medals__items:has(.third:hover) .first img {
    width: 160px;
}


/* HOVER – FOURTH */
#pweElementsAutoSwitch .pwe-medals__items .fourth:hover {
    z-index: 6;
}

#pweElementsAutoSwitch .pwe-medals__items .fourth:hover img {
    width: 260px;
}

#pweElementsAutoSwitch .pwe-medals__items .fourth:hover ~ .first img,
#pweElementsAutoSwitch .pwe-medals__items .fourth:hover ~ .second img,
#pweElementsAutoSwitch .pwe-medals__items:has(.fourth:hover) .first img {
    width: 160px;
}




#pweElementsAutoSwitch .pwe-medals .pwe-btn-container {
    position: relative;
    justify-content: left;
}
#pweElementsAutoSwitch .pwe-medals .pwe-btn {
    display: flex;
    color: white !important;
    transform: scale(1);
    transition: .3s ease;
    font-size: 16px;
    align-items: flex-end;
    border-radius: 10px;
    padding: 18px 60px 18px 18px;
    font-weight: 600;
    gap: 10px;
    min-width: auto;
}
#pweElementsAutoSwitch .pwe-medals .pwe-btn {
    background: var(--main2-color);
    max-width: 130px;
    min-width: 130px;
}
#pweElementsAutoSwitch .pwe-medals .pwe-btn-container .btn-angle-right {
    position: absolute;
    right: 28px;
    transition: .3s ease;
}
#pweElementsAutoSwitch .pwe-medals .pwe-btn-container:hover .btn-angle-right {
    right: 18px;
}
@media(max-width:960px) {
    #pweElementsAutoSwitch .pwe-medals__wrapper {
        grid-template-columns: 1fr;
    }
    #pweElementsAutoSwitch .pwe-medals__content {
        padding: 0;
    }
    #pweElementsAutoSwitch .pwe-medals__content-desktop {
        display: none;
    }
    #pweElementsAutoSwitch .pwe-medals__content-mobile {
        display: block;
    }
}