.pwe-element-auto-switch:has(.pwe-registration-exhibitors) {
    height: 100%;
}
.pwe-element-auto-switch .pwe-registration-exhibitors {
    margin: 0 auto;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__wrapper {
    display: flex;
    justify-content: center;
    gap: 18px;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 555px;
    height: 100%;
    padding: 36px 36px 18px;
    border-radius: 18px;
    background-color: var(--accent-color);
}
.pwe-element-auto-switch .pwe-registration-exhibitors__title {
    margin: 0 0 18px;
    font-size: 26px;
    color: white;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__text,
.pwe-element-auto-switch .pwe-registration-exhibitors__text p {
    margin: 0;
    color: white;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform_validation_errors {
    border: none !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields input {
    box-shadow: none !important;
    line-height: 1 !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields :is(
    label,
    label span,
    .gform_legacy_markup_wrapper .gfield_required,
    .gfield_description,
    .gfield_consent_label,
    .ginput_container_consent
) {
    font-size: 12px;
    color: white !important;
    line-height: 1.2 !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields input:not([type="checkbox"]) {
    border-radius: 8px !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields input[type="checkbox"] {
    border-radius: 2px !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields input[type="submit"] {
    border: 2px solid white !important;
    background-color: white !important;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields input[type="submit"]:hover {
    filter: brightness(0.8);
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform_fields {
    padding-left: 0 !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform-field-label {
    display: inline !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform-field-label .show-consent,
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform-field-label .gfield_required_asterisk {
    display: inline !important;
    margin-left: 0;
    padding-left: 0;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gfield_required {
    display: none !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gfield_consent_description {
    display: none;
    max-height: none !important;
    overflow: hidden !important;
    border: none !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .show-consent:hover {
    cursor: pointer;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .ginput_container input {
    margin: 0 !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gfield_label {
    font-size: 14px !important;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gfield_consent_label {
    padding-left: 5px;
}
.pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform_footer {
    margin-top: 20px;
}
@media (min-width: 959px) {
    .wpb_column:has(.pwe-registration-exhibitors) {
        display: table-cell !important;
    }
}
@media (max-width: 960px) {
    .pwe-element-auto-switch .pwe-registration-exhibitors .pwe-registration-exhibitors__wrapper {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 650px) {
    .pwe-element-auto-switch .pwe-registration-exhibitors__form-fields .gform_legacy_markup_wrapper .gform_footer {
        margin: 0 auto !important;
        padding: 0 !important;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .pwe-element-auto-switch .pwe-registration-exhibitors__form-fields input[type="submit"] {
        font-size: 12px !important;
    }
}