    .pwe-element-auto-switch.medals {
        max-width: 100%;
        padding: 0;
        background: var(--background-color);
    }
    .pwe-medals {
        max-width: 1200px;
        margin: 0 auto;
        padding: 36px;
    }
    .pwe-medals__heading {
        text-align: center;
    }
    .pwe-medals__text {
        text-align: center;
    }
    .pwe-medals__text p {
        font-size: 18px;
        max-width: 820px;
        margin: 18px auto;
    }
    .pwe-medals__items-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    .pwe-medals__item {
        flex: .6;
    }
    .pwe-medals__items-text {
        flex: .4;
    }
    .pwe-medals__items-text p {
        text-align: center;
        font-size: 18px;
    }
    .pwe-medals__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
    }
    @media (max-width: 570px) {
        .pwe-medals__items-container {
            flex-direction: column;
        }
        .pwe-medals__text p {
            line-height: 1.3;
            font-size: 16px;
        }
    }