/* PREMIERE EDITION <----------------------------------------------------------< */

.pwe-element-auto-switch.medals:has(.premiere-edition) {
    max-width: 100%;
    padding: 0;
    background: var(--background-color);
}
.pwe-element-auto-switch .pwe-medals.premiere-edition {
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__heading {
    text-align: center;
}
.pwe-medals__text {
    text-align: center;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__text p {
    font-size: 18px;
    max-width: 820px;
    margin: 18px auto;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__item {
    flex: .6;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__items-text {
    flex: .4;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__items-text p {
    text-align: center;
    font-size: 18px;
}
.pwe-element-auto-switch .premiere-edition .pwe-medals__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
@media (max-width: 570px) {
    .pwe-element-auto-switch .premiere-edition .pwe-medals__items-container {
        flex-direction: column;
    }
    .pwe-element-auto-switch .premiere-edition .pwe-medals__text p {
        line-height: 1.3;
        font-size: 16px;
    }
}


/* OTHER EDITION <----------------------------------------------------------< */

.pwe-element-auto-switch .other-edition .pwe-medals__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 12px #cccccc;
    border-radius: 36px;
    padding: 36px;
    text-align: center;
    gap: 18px;
}
.pwe-element-auto-switch .other-edition .pwe-medals__heading h4 {
    margin: 0 auto;
    text-transform: uppercase;
}
.pwe-element-auto-switch .other-edition .pwe-medals__items {
    display: flex;
    justify-content:center;
    gap: 10px;
}
.pwe-element-auto-switch .other-edition .pwe-medals__item {
    flex:0.25;
}
.pwe-element-auto-switch .other-edition .pwe-medals__wrapper .pwe-button-link {
    transform-origin: center !important;
}
.pwe-element-auto-switch .pwe-medals.other-edition .pwe-button-link {
    color: white;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    min-width: 240px;
}
.pwe-element-auto-switch .pwe-medals.other-edition .pwe-button-link:hover {
    color: white !important;
    background-color: var(--accent_darker_color) !important;
    border: 1px solid var(--accent_darker_color) !important;
}
@media(max-width: 650px) {
    .pwe-element-auto-switch .other-edition .pwe-medals__wrapper {
        padding: 18px;
    }
    .pwe-element-auto-switch .other-edition .pwe-medals__text p {
        line-height: 1.3;
        text-align: left;
    }
    .pwe-element-auto-switch .other-edition .pwe-medals__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pwe-element-auto-switch .other-edition .pwe-medals__item img {
        width: 100%;
    }
    .pwe-element-auto-switch .other-edition .pwe-medals__wrapper .pwe-medals__items_mobile {
        display: block;
    }
    .pwe-element-auto-switch .other-edition .pwe-medals__item {
        flex:0.5;
    }
}   