@media (min-width: 961px) {
    body.home .pwe-header-wrapper {
        padding-top: 80px !important;
    }
}
.pwe-menu-auto-switch {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 70px;
    z-index: 99;
    display: flex;
    transition: 0.3s ease;
    background-color: var(--accent-color);
}
body.home .pwe-menu-auto-switch {
    background-color: transparent;
}
.pwe-menu-auto-switch__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 8px 18px;
    gap: 18px;
}
/* Mobile button take part */
.pwe-menu-auto-switch .pwe-menu-auto-switch__register-btn {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    transition: .3s ease;
    z-index: 100;
}
.pwe-menu-auto-switch__logotypes {
    display: flex;
    align-items: stretch;
    height: 100%;
    gap: 8px;
    z-index: 100;
    flex-shrink: 1;
}
.pwe-menu-auto-switch__logotypes a {
    display: flex;
    height: 100%;
}
.pwe-menu-auto-switch__logotypes a.pwe-logo img {
    aspect-ratio: 1 / 1;
}
.pwe-menu-auto-switch__logo-container {
    display: flex;
    height: 100%;
}
.pwe-menu-auto-switch__logotypes img {
    display: block;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.pwe-menu-auto-switch__container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: auto;
}
.pwe-menu-auto-switch__container-mobile {
    display: flex;
    gap: 18px;
}
.pwe-menu-auto-switch__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pwe-menu-auto-switch__item > a {
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: 0.3s ease;
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.pwe-menu-auto-switch__item > a:hover > span.pwe-menu-auto-switch__item-title {
    text-decoration: underline !important;
}
.pwe-menu-auto-switch__nav .pwe-menu-auto-switch__item.button {
    display: none;
}
.pwe-menu-auto-switch__item.button > a {
    border: 2px solid white;
    border-radius: 6px;
    padding: 8px 16px;
    transition: .3s ease;
}
.pwe-menu-auto-switch__item.button > a:hover {
    background: #fff;
    color: var(--accent-color);
}
.pwe-menu-auto-switch__item .pwe-menu-auto-switch__submenu {
    margin: 0;
    padding: 12px 0;
    border-radius: 14px;
    box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.45);
}
/* First level submenu */
.pwe-menu-auto-switch__item > .pwe-menu-auto-switch__submenu {
    width: max-content;
    position: absolute;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--accent-color);
    z-index: 10;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
}
.pwe-menu-auto-switch__submenu > li {
    display: block;
    max-width: 350px;
}
    
/* Submenu of next levels */
.pwe-menu-auto-switch__submenu .pwe-menu-auto-switch__submenu {
    width: max-content;
    position: absolute;
    top: -12px;
    left: 98%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--accent-color);
    z-index: 10;
    transition: .3s ease;
    max-width: 250px;
}
.pwe-menu-auto-switch__item:hover > .pwe-menu-auto-switch__submenu,
.pwe-menu-auto-switch__submenu-item:hover > .pwe-menu-auto-switch__submenu {
    visibility: visible;
    opacity: 1;
}
.pwe-menu-auto-switch__submenu:hover,
.pwe-menu-auto-switch__submenu-item:hover > .pwe-menu-auto-switch__submenu {
    visibility: visible;
    opacity: 1;
}
.pwe-menu-auto-switch__item.has-children:hover > .pwe-menu-auto-switch__submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%, 0);
}
.pwe-menu-auto-switch__submenu-item {
    position: relative;
}
.pwe-menu-auto-switch__arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    transition: 0.3s ease;
}
.pwe-menu-auto-switch__lang-switch .pwe-menu-auto-switch__arrow {
    margin-left: 0;
}
.pwe-menu-auto-switch__lang-switch:hover .pwe-menu-auto-switch__arrow,
.pwe-menu-auto-switch__item:hover > a > .pwe-menu-auto-switch__arrow,
.pwe-menu-auto-switch__submenu-item:hover > a > .pwe-menu-auto-switch__arrow {
    transform: rotate(90deg);
}
.pwe-menu-auto-switch__submenu-item {
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
    transition: 0.3s ease;
}
.pwe-menu-auto-switch__submenu-item a {
    color: white;
    font-size: 15px;
    display: flex;
    width: 100%;
    align-items: center;
}
.pwe-menu-auto-switch__submenu-item:hover {
    background-color: #ffffff3d;
}
.pwe-menu-auto-switch__submenu-item.has-children {
    font-weight: 600;
}

.pwe-menu-auto-switch__nav-icons {
    display: flex;
}

/* Lang */
.pwe-menu-auto-switch__lang-switch {
    position: relative;
    cursor: pointer;
}
.pwe-menu-auto-switch__lang-current {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px;
    color: #fff;
}
.pwe-menu-auto-switch__lang-current span {
    font-weight: 600;
}
.pwe-menu-auto-switch__lang-current-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}
.pwe-menu-auto-switch__lang-current-icon p {
    margin: 0;
}
.pwe-menu-auto-switch__lang-text {
    display: none;
    text-transform: uppercase;
}
.pwe-menu-auto-switch__lang-dropdown {
    width: max-content;
    position: absolute;
    top: 42px;
    background: var(--accent-color);
    border-radius: 6px;
    padding: 6px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity .25s ease, visibility .25s ease, transform .25s ease;
}
.pwe-menu-auto-switch__lang-switch:hover .pwe-menu-auto-switch__lang-dropdown {
    opacity: 1;
    visibility: visible;
}
.pwe-menu-auto-switch__lang-dropdown a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
}
.pwe-menu-auto-switch__lang-dropdown a:hover {
    background-color: #ffffff3d;
}
.pwe-menu-auto-switch__lang-dropdown img {
    width: 22px;
}

/* Social icons */
.pwe-menu-auto-switch__social-icons {
    display: flex;
}
.pwe-menu-auto-switch__social,
.pwe-menu-auto-switch__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.pwe-menu-auto-switch__social a i {
    padding: 0 6px;
    margin: 0;
    color: white;
    font-size: 18px;
    transition: .3s ease;
}
.pwe-menu-auto-switch__social a i:hover {
    transform: scale(1.1);
}

.pwe-menu-auto-switch .pwe-menu-auto-switch__burger-checkbox,
.pwe-menu-auto-switch .pwe-menu-auto-switch__burger {
    display: none;
}

@media (max-width: 1200px) {
    body.home .pwe-header-wrapper {
        padding-top: 60px !important;
    }
    body.home .pwe-menu-auto-switch {
        background-color: var(--accent-color);
    }
    .pwe-menu-auto-switch {
        height: 60px;
    }
    .pwe-menu-auto-switch__container {
        flex-direction: column;
        position: fixed;
        z-index: 98;
        top: 60px;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 300px;
        height: calc(100vh - 60px);
        background-color: var(--accent-color);
        opacity: .95;
        transform: translateX(-105%);
    }
    .pwe-menu-auto-switch__container-mobile,
    .pwe-menu-auto-switch__wrapper {
        gap: 12px;
    }
    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__container {
        transform: translateX(0);
        overflow: auto;
        direction: rtl;
        padding-bottom: 100px;
    }
    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__container > * {
        direction: ltr;
    }
    .pwe-menu-auto-switch__item.button > a {
        padding: 6px;
        font-size: 14px;
    }
    /* Menu nav */
    .pwe-menu-auto-switch__nav {
        flex-direction: column;
        padding: 18px;
        width: 100%;
    }
    .pwe-menu-auto-switch__item {
        width: 100%;
    }
    .pwe-menu-auto-switch__item > a {
        justify-content: space-between;
        font-size: 16px;
    }
    .pwe-menu__item.has-children:has(.pwe-menu__submenu.visible) {
        overflow: scroll;
    }
    .pwe-menu-auto-switch__item > .pwe-menu-auto-switch__submenu.visible {
        overflow: auto;
    }
    .pwe-menu-auto-switch__submenu-image,
    .pwe-menu-auto-switch__submenu-title {
        display: none;
    }
    .pwe-menu-auto-switch__submenu-list {
        width: 100%;
    }
    .pwe-menu-auto-switch__submenu-list-wrapper {
        flex-wrap: nowrap;
        height: auto;
    }
    .pwe-menu-auto-switch__item.button {
        width: auto;
    }
    .pwe-menu-auto-switch__nav .pwe-menu-auto-switch__item.button {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }
    .pwe-menu-auto-switch__nav .pwe-menu-auto-switch__item.button a {
        justify-content: center;
        width: 100%;
    }
    .pwe-menu-auto-switch__nav-icons {
        flex-direction: column;
        gap: 18px;
        width: 100%;
        padding: 18px;
    }
    .pwe-menu-auto-switch__social {
        display: flex;
        justify-content: center;
        padding: 6px;
        gap: 10px;
    }
    .pwe-menu-auto-switch__social a i {
        font-size: 24px;
    }
    
    .pwe-menu-auto-switch__lang-current {
        justify-content: space-between;
    }
    .pwe-menu-auto-switch__lang-text {
        display: flex;
    }
    .pwe-menu-auto-switch__lang-code {
        display: none;
    }
    .pwe-menu-auto-switch__lang-dropdown {
        height: 0;
        position: relative;
        top: unset;
        right: unset;
        background: transparent;
        border-radius: 0;
        padding: 0;
        box-shadow: unset;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        transition: .3s ease;
    }
    .pwe-menu-auto-switch__lang-switch:hover .pwe-menu-auto-switch__lang-dropdown {
        height: auto;
        padding: 8px 0;
    }
    .pwe-menu-auto-switch__item > .pwe-menu-auto-switch__submenu, 
    .pwe-menu-auto-switch__submenu .pwe-menu-auto-switch__submenu {
        width: auto;
        top: unset;
        left: unset;
        position: relative;
        visibility: hidden;
        height: 0;
        opacity: 1;
        transform: unset;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
        box-shadow: unset;
    }
    .pwe-menu-auto-switch__submenu {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease, visibility 0s linear 0.3s;
    }
    .pwe-menu-auto-switch__submenu.visible {
        visibility: visible;
        transition: height 0.3s ease, visibility 0s linear 0s;
        padding: 6px 0;
    }
    .pwe-menu-auto-switch__submenu-item {
        padding: 10px 8px;
        font-size: 16px;
    }
    .pwe-menu-auto-switch__submenu-item:hover {
        background-color: inherit;
    }
    .pwe-menu-auto-switch__submenu-item a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }


    .pwe-menu-auto-switch__arrow {
        width: auto;
        height: auto;
    }


    /* Burger menu */
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger {
        display: flex;
    }
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger {
        position: relative;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
        transition: .3s ease;
    }
    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__burger {
        transform: rotate(90deg);
    }
    .pwe-menu-auto-switch .pwe-menu-auto-switch__overlay {
        position: fixed;
        z-index: 97;
        top: 60px;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(27, 32, 44, 0.7);
        visibility: hidden;
        opacity: 0;
        backdrop-filter: blur(6px);
        transition: 0.3s;
    }
    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__overlay {
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .pwe-menu-auto-switch__wrapper {
        padding: 0 12px;
    }
    .pwe-menu-auto-switch__logotypes .hidden-mobile {
        display: none;
    }
}



.footer-scroll-top.footer-scroll-higher {
    bottom: 61px !important;
}