@media (min-width: 961px) {
    body.home .pwe-header-wrapper {
        padding-top: 80px !important;
    }
}

.pwe-menu-auto-switch {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80px;
    z-index: 99;
    display: flex;
    transition: 0.3s ease;
    background-color: var(--accent-color);
}
body.home .pwe-menu-auto-switch {
    background-color: transparent;
}
.pwe-menu-auto-switch__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 18px;
    gap: 18px;
}
/* Mobile button take part */
.pwe-menu-auto-switch .pwe-menu-auto-switch__register-btn {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    transition: .3s ease;
}
.pwe-menu-auto-switch__main-logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.pwe-menu-auto-switch__main-logo a {
    max-height: 80px;
}
.pwe-menu-auto-switch__main-logo img {
    height: 100%;
    width: auto;
    object-fit: contain;
    min-height: 70px;
}
.pwe-menu-auto-switch__main-logo-ptak {
    margin-right: 8px;
    min-height: 70px;
    aspect-ratio: 1;
}
.pwe-menu-auto-switch__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: auto;
}
.pwe-menu-auto-switch__container-mobile {
    display: flex;
    gap: 18px;
}
.pwe-menu-auto-switch__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pwe-menu-auto-switch__item > a {
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: 0.3s ease;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.pwe-menu-auto-switch__nav .pwe-menu-auto-switch__item.button {
    display: none;
}
.pwe-menu-auto-switch__item.button > a {
    border: 2px solid white;
    border-radius: 6px;
    padding: 8px 16px;
}
.pwe-menu-auto-switch__item > a:hover {
    color: #bababa;
    border-color: #bababa;
}
.pwe-menu-auto-switch__item .pwe-menu-auto-switch__submenu {
    margin: 0;
    padding: 12px 0;
    gap: 5px;
}
/* First level submenu */
.pwe-menu-auto-switch__item > .pwe-menu-auto-switch__submenu {
    width: max-content;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -10px);
    visibility: hidden;
    opacity: 0;
    background-color: var(--accent-color);
    z-index: 10;
    transition: .3s ease;
    width: 100%;
    max-width: 1200px;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-height: 300px;
    padding: 18px;
}




/* .pwe-menu-auto-switch__item:first-child > .pwe-menu-auto-switch__submenu {
    visibility: visible !important;
    opacity: 1 !important;
} */






.pwe-menu-auto-switch__submenu-image {
    width: 150px;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 9/16;
    border-radius: 14px;
}
.pwe-menu-auto-switch__submenu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.pwe-menu-auto-switch__submenu-title p {
    margin: 0;
    font-weight: 700;
    padding: 0 12px 20px;
    color: white;
}
.pwe-menu-auto-switch__submenu > li {
    display: block;
}
.pwe-menu-auto-switch__submenu-list {
    display: flex;
    flex-direction: column;
}
.pwe-menu-auto-switch__submenu-list-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
}
    
/* Submenu of next levels */
.pwe-menu-auto-switch__submenu .pwe-menu-auto-switch__submenu {
    width: max-content;
    position: absolute;
    top: 0;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--accent-color);
    z-index: 10;
    transition: .3s ease;
}
.pwe-menu-auto-switch__item:hover > .pwe-menu-auto-switch__submenu {
    
}
.pwe-menu-auto-switch__item:hover > .pwe-menu-auto-switch__submenu,
.pwe-menu-auto-switch__submenu-item:hover > .pwe-menu-auto-switch__submenu {
    visibility: visible;
    opacity: 1;
}
.pwe-menu-auto-switch__submenu:hover,
.pwe-menu-auto-switch__submenu-item:hover > .pwe-menu-auto-switch__submenu {
    visibility: visible;
    opacity: 1;
}
.pwe-menu-auto-switch__item.has-children:hover > .pwe-menu-auto-switch__submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%, 0);
}
.pwe-menu-auto-switch__submenu-item {
    position: relative;
}
.pwe-menu-auto-switch__item.has-children .pwe-menu-auto-switch__arrow,
.pwe-menu-auto-switch__submenu-item.has-children .pwe-menu-auto-switch__arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    transform: rotate(0deg);
    transition: 0.3s ease;
}
.pwe-menu-auto-switch__item.has-children:hover > a > .pwe-menu-auto-switch__arrow,
.pwe-menu-auto-switch__submenu-item.has-children:hover > a > .pwe-menu-auto-switch__arrow {
    transform: rotate(90deg);
}
.pwe-menu-auto-switch__submenu-item {
    padding: 4px 12px;
    font-size: 12px;
    transition: 0.3s ease;
}
.pwe-menu-auto-switch__submenu-item a {
    color: white;
}
.pwe-menu-auto-switch__submenu-item:hover {
    font-size: 12px;
    background-color: #ffffff14;
}
.pwe-menu-auto-switch__submenu-item.has-children {
    font-weight: 600;
}

.pwe-menu-auto-switch__nav-icons {
    display: flex;
}

/* Social icons */
.pwe-menu-auto-switch__social,
.pwe-menu-auto-switch__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.pwe-menu-auto-switch__social a i {
    padding: 0 6px;
    margin: 0;
    color: white;
    font-size: 18px;
}

.pwe-menu-auto-switch .pwe-menu-auto-switch__burger-checkbox,
.pwe-menu-auto-switch .pwe-menu-auto-switch__burger {
    display: none;
}

@media (max-width: 1200px) {
    body.home .pwe-header-wrapper {
        padding-top: 60px !important;
    }
    body.home .pwe-menu-auto-switch {
        background-color: var(--accent-color);
    }
    .pwe-menu-auto-switch__container {
        flex-direction: column;
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 18px 0;
        width: 300px;
        height: 100%;
        background-color: var(--accent-color);
        opacity: .95;
        box-shadow: 0 0 20px rgba(0,0,0,.7);
        transform: translateX(-105%);
    }
    .pwe-menu-auto-switch__main-logo a {
        height: 100%;
    }
    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__container {
        transform: translateX(0);
        overflow: auto;
    }
    .pwe-menu-auto-switch__item.button > a {
        padding: 6px 8px
    }
    /* Menu nav */
    .pwe-menu-auto-switch__nav {
        flex-direction: column;
        padding: 18px;
    }
    .pwe-menu-auto-switch__item {
        width: 100%;
    }
    .pwe-menu-auto-switch__nav .pwe-menu-auto-switch__item.button {
        display: flex;
    }
    .pwe-menu-auto-switch__item > a {
        font-size: 16px;
    }
    .pwe-menu-auto-switch__submenu-image,
    .pwe-menu-auto-switch__submenu-title {
        display: none;
    }
    .pwe-menu-auto-switch__submenu-list {
        width: 100%;
    }
    .pwe-menu-auto-switch__submenu-list-wrapper {
        flex-wrap: nowrap;
        height: auto;
    }
    .pwe-menu-auto-switch__item.button {
        width: auto;
    }
    .pwe-menu-auto-switch__nav-icons {
        flex-direction: column-reverse;
        gap: 18px;
    }
    .pwe-menu-auto-switch__lang-current {
        justify-content: center;
    }
    .pwe-menu-auto-switch__social {
        margin-top: 18px;
    }
    .pwe-menu-auto-switch__social a i {
        font-size: 24px;
    }
    .pwe-menu-auto-switch__item > .pwe-menu-auto-switch__submenu,
    .pwe-menu-auto-switch__submenu .pwe-menu-auto-switch__submenu {
        width: auto;
        top: unset;
        left: unset;
        position: relative;
        visibility: hidden;
        height: 0;
        opacity: 1;
        transform: unset;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
        max-height: inherit;
    }
    .pwe-menu-auto-switch__submenu {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease, visibility 0s linear 0.3s;
    }
    .pwe-menu-auto-switch__submenu.visible {
        visibility: visible;
        transition: height 0.3s ease, visibility 0s linear 0s;
    }
    .pwe-menu-auto-switch__submenu-item {
        font-size: 16px;
    }
    .pwe-menu-auto-switch__submenu-item:hover {
        background-color: inherit;
    }
    .pwe-menu-auto-switch__submenu-item a {
        font-size: 16px;
    }


    /* Burger menu */
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger-checkbox,
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger {
        display: flex;
        width: 25px;
    }
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger-checkbox {
        position: absolute;
        top: 0;
        bottom: 0; 
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 101;
        opacity: 0;
        cursor: pointer;
    }
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger {
        position: relative;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
    }
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger span {
        position: relative;
        height: 3px;
        width: 25px;
        background-color: white;
        display: block;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger span::after, 
    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger span::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        width: 25px;
        background-color: white;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger span::before {
        top: -8px;
    }

    .pwe-menu-auto-switch .pwe-menu-auto-switch__burger span::after {
        bottom: -8px;
    }

    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__burger span {
        background-color: transparent;
    }

    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__burger span::before {
        background-color: #fff;
        transform: rotate(45deg);
        top: 0;
    }

    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__burger span::after {
        background-color: #fff;
        transform: rotate(-45deg);
        bottom: 0;
    }

    /* Overlay */
    .pwe-menu-auto-switch .pwe-menu-auto-switch__overlay {
        position: fixed;
        z-index: 97;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(27, 32, 44, 0.7);
        visibility: hidden;
        opacity: 0;
        backdrop-filter: blur(6px);
        transition: 0.3s;
    }
    .pwe-menu-auto-switch.burger-menu .pwe-menu-auto-switch__overlay {
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .pwe-menu-auto-switch__wrapper {
        padding: 0 12px;
    }
    .pwe-menu-auto-switch__main-logo {
        max-width: 240px;
    }
    .pwe-menu-auto-switch__main-logo-ptak.hidden-mobile {
        display: none;
    }
}




.pwe-menu-auto-switch__lang-switch {
    position: relative;
    cursor: pointer;
}
.pwe-menu-auto-switch__lang-current {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 10px;
    color: #fff;
}
.pwe-menu-auto-switch__lang-dropdown {
    width: max-content;
    position: absolute;
    top: 42px;
    background: #1a1a1a;
    border-radius: 6px;
    padding: 6px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity .25s ease, visibility .25s ease, transform .25s ease;
}
.pwe-menu-auto-switch__lang-dropdown--open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.pwe-menu-auto-switch__lang-dropdown a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
}
.pwe-menu-auto-switch__lang-dropdown a:hover {
    background: #333;
}
.pwe-menu-auto-switch__lang-dropdown img {
    width: 22px;
}