#pweElementsAutoSwitch .profiles {
    background: var(--background-color);
    max-width: 100%;
    padding: 0;
}
#pweElementsAutoSwitch .pwe-profiles__wrapper {
    max-width: 1200px;
    padding: 36px 18px;
    margin: 0 auto;
}
#pweElementsAutoSwitch .pwe-profiles__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 18px;
}
#pweElementsAutoSwitch .pwe-profiles__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 18px;
    border-radius: 22px;
    aspect-ratio: 3/4;
}
#pweElementsAutoSwitch .pwe-profiles__card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to top, var(--accent-color) 0%, var(--accent-color) 30%, rgba(0, 0, 0, 0) 100%);
    border-radius: 22px;
}
#pweElementsAutoSwitch .pwe-profiles__card-content {
    padding-top: 36px;
}
#pweElementsAutoSwitch .pwe-profiles__card-content,
#pweElementsAutoSwitch .pwe-profiles__card-content h5 {
    color: white;
    z-index: 1;
}
#pweElementsAutoSwitch .pwe-profiles__card-content h5 {
    font-size: 26px;
}
#pweElementsAutoSwitch .pwe-profiles__card-content :is(p, h5) {
    margin: 0;
}
#pweElementsAutoSwitch .pwe-profiles__show-more-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    text-align: left;
    transition: .3s ease;
}
#pweElementsAutoSwitch .pwe-profiles__card-text {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}
#pweElementsAutoSwitch .pwe-profiles__card:hover .pwe-profiles__card-text {
    max-height: 400px;
    opacity: 1;
}
#pweElementsAutoSwitch .pwe-profiles__card:hover .pwe-profiles__show-more-btn {
    visibility: hidden;
    opacity: 0;
}
#pweElementsAutoSwitch .pwe-profiles__show-more-arrow {
    transform: rotate(45deg);
}
#pweElementsAutoSwitch .pwe-profiles__card-text::-webkit-scrollbar {
    width: 6px;
}
#pweElementsAutoSwitch .pwe-profiles__card-text::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
#pweElementsAutoSwitch .pwe-profiles__card-text::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
@media(max-width:960px) {
    #pweElementsAutoSwitch .pwe-profiles__card {
        min-height: 250px;
        aspect-ratio: unset;
    }
    #pweElementsAutoSwitch .pwe-profiles__card h5 {
        font-size: 18px;
    }
}
@media(max-width:650px) {
    #pweElementsAutoSwitch .pwe-profiles__cards {
        display: flex;
        flex-direction: column;
    }
    #pweElementsAutoSwitch .pwe-profiles__card h5 {
        font-size: 26px;
    }
}