#pweElementsAutoSwitch .pwe-halls__wrapper {
    display: flex;
    flex-direction: column;
} 
#pweElementsAutoSwitch .pwe-halls__container {
    display: flex;
    border: 2px solid var(--background-color);
    border-radius: 18px;
    margin-top: 36px;
}
#pweElementsAutoSwitch .pwe-halls__info {
    display: flex;
    flex-direction: column;
    padding: 18px;
    max-width: 220px;
}
#pweElementsAutoSwitch .pwe-halls__column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#pweElementsAutoSwitch .pwe-halls__column.logo {
    align-items: center;
}
#pweElementsAutoSwitch .pwe-halls__column.logo img {
    width: 100%;
}
#pweElementsAutoSwitch .pwe-halls__column.info {

}
#pweElementsAutoSwitch .pwe-halls__date {
    text-align: center;
    font-weight: 600;
    margin: 0;
}
#pweElementsAutoSwitch .pwe-halls__information p {
    margin: 0;
    font-weight: 600;
}
#pweElementsAutoSwitch .pwe-halls__location {
    margin-top: 12px;
    font-weight: 700;
}
#pweElementsAutoSwitch .pwe-halls__model {
    width: 100%;
}
@media(max-width:720px){
    #pweElementsAutoSwitch .pwe-halls__info {
        flex-direction: column;
        gap: 18px;
    }
    #pweElementsAutoSwitch .pwe-halls__column {
        padding: 0;
    }
    #pweElementsAutoSwitch .pwe-halls__column.logo {
        width: 100%;
    }
    #pweElementsAutoSwitch .pwe-halls__column.logo img {

    }
    #pweElementsAutoSwitch .pwe-halls__column.info {

        width: 100%;
    }
    #pweElementsAutoSwitch .pwe-halls__model {
        margin-top: 18px;
    }
}