#pweAddress {
    border: 1px solid black;
    border-radius: 18px;
    max-width: 555px;
    width: 100%;
    margin: auto;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}
.pwe-address__text {
    text-align: center;
    font-size: 26px !important;
    font-weight: 700;
    color: #000000 !important;
    line-height: 1.2;
    margin: 0;
}