#pweElementsAutoSwitch .pwe-statistics {
    padding: 36px 0;
}
#pweElementsAutoSwitch .pwe-statistics__wrapper {
    display: flex;
    gap: 12px;
    min-height: 260px;
}
#pweElementsAutoSwitch .pwe-statistics__main-tile {
    flex: .25;
    padding: 14px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}
#pweElementsAutoSwitch .pwe-statistics__main-text p {
    margin: 0;
    font-size: 18px;
}
#pweElementsAutoSwitch .pwe-statistics__main-text strong p {
    font-size: 20px;
    font-weight: 600;
}
#pweElementsAutoSwitch .pwe-statistics__btn {
    margin: auto auto 0;
}
#pweElementsAutoSwitch .pwe-statistics__tiles {
    display: flex;
    flex: .75;
    gap: 12px;
}
#pweElementsAutoSwitch .pwe-statistics__tiles-visitors {
    flex: .5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}
#pweElementsAutoSwitch .pwe-statistics__tile-visitors {
    flex: .5;
    display: flex;
    flex-direction: column;
}
#pweElementsAutoSwitch .pwe-statistics__tile-visitors-abroad {
    flex: .5;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#pweElementsAutoSwitch .pwe-statistics__tiles-other {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: .5;
}
#pweElementsAutoSwitch .pwe-statistics__tile-exhibitors {
    flex: .5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pweElementsAutoSwitch .pwe-statistics__tile-area {
    flex: .5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pweElementsAutoSwitch .pwe-statistics__tile-text {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    gap: 6px;
    padding: 14px;
}
#pweElementsAutoSwitch .pwe-statistics__tile-divider {
    margin: 12px 0;
    width: 100%;
    height: 3px;
    background: var(--background-color);
    border: none;
}
#pweElementsAutoSwitch .pwe-statistics__border {
    border: 2px solid var(--background-color);
    border-radius: 12px;
    position: relative;
}
#pweElementsAutoSwitch .pwe-statistics__tile-number {
    font-size: 30px;
    font-weight: 600;
}
#pweElementsAutoSwitch .pwe-statistics__tile-number-desc {
    font-size: 18px;
    font-weight: 500;
}
#pweElementsAutoSwitch .pwe-statistics__tile-percent {
    background: var(--accent-color);
    padding: 2px 8px;
    border-radius: 36px;
    width: 60px;
    text-align: center;
    color: white;
    font-weight: 500;
}
#pweElementsAutoSwitch .pwe-statistics__icon-box {
    background: var(--accent-color);
    border-radius: 0 10px 10px 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pweElementsAutoSwitch .pwe-statistics__icon {
    width: 100%;
    padding: 8px;
}
@media(max-width:960px) {
    #pweElementsAutoSwitch .pwe-statistics__tiles {
        flex-direction: column;
    }
}
@media(max-width:570px) {
    #pweElementsAutoSwitch .pwe-statistics__wrapper {
        flex-direction: column;
    }
    #pweElementsAutoSwitch .pwe-statistics__main-tile {
        align-items: center;
    }
    #pweElementsAutoSwitch .pwe-statistics__main-text p {
        text-align: center;
    }
    #pweElementsAutoSwitch .pwe-statistics__icon-box {
        height: auto;
    }
    #pweElementsAutoSwitch .pwe-statistics__tile-number {
        font-size: 20px;
    }
    #pweElementsAutoSwitch .pwe-statistics__tile-number-desc {
        font-size: 16px;
    }
}