/* === BLOKADA SCROLLA === */
body.modal-open {
  overflow: hidden;
}

/* === OVERLAY === */
.exhibitor-pdf-modal {
  --swiper-navigation-sides-offset: -58px;
  position: fixed;
  inset: 0;
  background: #2A2B2DE5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}
.exhibitor-pdf-modal.animate {
  opacity: 1;
  pointer-events: auto;
}

/* === KONTENER TREŚCI === */
.exhibitor-pdf-modal__container {
    position: relative;
    background: #343434;
    border-radius: 24px;
    max-width: 1100px;
    width: 90%;
    max-height: 85vh;
    height: 100%;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
    animation: modalFadeIn 0.3s ease forwards;
}

.exhibitor-pdf-modal__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 36px 76px 56px 76px;
    overflow: hidden;
}

/* === TREŚĆ === */

.exhibitor-pdf-modal__iframe {
    width: 100%;
    height: 70vh;
    background: #fff;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.exhibitor-pdf-modal__title {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 18px;
    text-align: left;
    word-break: break-word;
}

.exhibitor-pdf-modal__swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.exhibitor-pdf-modal__item {
    height: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.exhibitor-pdf-modal__item::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.exhibitor-pdf-modal__item::-webkit-scrollbar-track {
  background: transparent;
}

.exhibitor-pdf-modal__item::-webkit-scrollbar-thumb {
  background-color: #9aa0a64d;
  border-radius: 999px;
  background-clip: content-box;
}

/* === PRZYCISKI === */

.exhibitor-pdf-modal__close {
    background: transparent;
    position: absolute;
    right: -36px;
    top: -14px;
    font-size: 42px;
    font-weight: 300;
    color: white;
    transition: .2s ease;
    cursor: pointer;
}

button.exhibitor-pdf-modal__close:hover {
    transform: rotate(-180deg);
}

.exhibitor-pdf-modal__button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #D0D0D0;
    transition: .3s ease;
}

.exhibitor-pdf-modal__button::after {
    color: #2A2B2D;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

.exhibitor-pdf-modal__button:hover {
    background: var(--catalog-accent-color);
}

/* === ANIMACJE === */
@keyframes modalFadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* === PAGINACJA FRACTION === */
.exhibitor-pdf-modal__pagination {
    position: absolute;
    bottom: -42px;
    right: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #6D6E6E;
}

.exhibitor-pdf-modal__pagination .swiper-pagination-current {
  color: var(--catalog-accent-color);
  font-weight: 600;
  font-size: 20px;
}

.exhibitor-pdf-modal__pagination .sep {
  margin: 0 4px;
  color: #666;
}

/* === RESPONSYWNOŚĆ === */
@media (max-width: 960px) {
    .exhibitor-pdf-modal {
        --swiper-navigation-sides-offset: -3px;
        --swiper-navigation-top-offset: auto;
    }
    .exhibitor-pdf-modal__content {
        padding: 18px 18px 76px;
        height: 100%;
    }
    .exhibitor-pdf-modal__swiper {
        height: 100%;
    }
    .exhibitor-pdf-modal__button {
        bottom: -62px;
    }
    .exhibitor-pdf-modal__pagination {
        bottom: -50px;
    }
    button.exhibitor-pdf-modal__close {
        right: 0;
        top: -46px;
    }
}
