#exhibitorCatalog .exhibitor-catalog__products-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#exhibitorCatalog .exhibitor-catalog__product-card {
    border-radius: 14px;
    padding: 44px;
    background-color: #FFFFFE;
    box-shadow: 0px 0px 44px 0px #2A2B2D1A;
    display: flex;
    gap: 42px;
}

#exhibitorCatalog .exhibitor-catalog__product-card-info-logo-contianer {
    max-width: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#exhibitorCatalog .exhibitor-catalog__product-card-info {
    flex: .3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
}
#exhibitorCatalog .exhibitor-catalog__product-card-info-logo {
    width: 100%;
    padding: 0px;
    aspect-ratio: 5/3;
    object-fit: cover;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #2A2B2D;
    border-radius: 14px;
}

#exhibitorCatalog .exhibitor-catalog__product-card-info-stand {
    font-weight: 700;
    font-size: 18px;
    color: #2A2B2D;
}

#exhibitorCatalog .exhibitor-catalog__product-card-info-stand-number {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    color: var(--accent-color);
}

#exhibitorCatalog .exhibitor-catalog__product-card-ehibitor-link {
    border-radius: 8px;
    background: var(--main2-color);
    color: #fff;
    padding: 17px 21px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s ease;
}

#exhibitorCatalog .exhibitor-catalog__product-card-ehibitor-link:hover {
    background-color: var(--main2_darker_color);
}

#exhibitorCatalog .exhibitor-catalog__product-card-text {
    flex: .7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

#exhibitorCatalog .exhibitor-catalog__product-card-title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color: #2A2B2D;
}

#exhibitorCatalog .exhibitor-catalog__product-card-subtitle {
    font-weight: 700;
    font-size: 18px;
    color: var(--accent-color);
    margin: 0;
}

#exhibitorCatalog .exhibitor-catalog__product-card-desc {
    font-size: 15px;
    font-weight: 500;
    color: #6D6E6E;
    margin: 0;
}

#exhibitorCatalog .exhibitor-catalog__product-card-category-container {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

#exhibitorCatalog .exhibitor-catalog__product-card-category-single {
    margin: 0;
    padding: 16px;
    background-color: #F0F0F0;
    border-radius: 36px;
    font-weight: 700;
    font-size: 14px;
}

#exhibitorCatalog .exhibitor-catalog__product-card-category-single-more {
    margin: 0;
    padding: 18px;
    background-color: var(--accent-color);
    color: #FFFFFE;
    border-radius: 36px;
    font-weight: 700;
    font-size: 14px;
}

#exhibitorCatalog .exhibitor-catalog__product-card-category-single-more span {
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 960px) {
    #exhibitorCatalog .exhibitor-catalog__product-card {
        padding: 18px;
        flex-direction: column;
        gap: 16px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-info-logo-contianer {
        max-width: unset;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-info-logo {
        max-height: 180px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-info {
        gap: 8px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-info-stand {
        margin: 0;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-ehibitor-link {
        width: 100%;
        text-align: center;
        padding: 14px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-desc {
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-text {
        gap: 14px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-category-single {
        padding: 12px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-category-single-more {
        padding: 14px;
        font-size: 12px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-category-single-more span {
        font-size: 14px;
    }
    #exhibitorCatalog .exhibitor-catalog__product-card-title {
        font-size: 28px;
    }
}