.pwe-exhibitors-top12-logos {
    height: 85%;
    padding: 18px;
    max-width: 430px;
}
.pwe-exhibitors-top12-logo img {
    height: 50px;
    width: 140px;
    padding: 0;
    margin: 0;
}