:root {
    --border-color: #f2f2f2;
}
.pwe-element-auto-switch .pwe-conference-schedule__wrapper {
    background-color: color-mix(in srgb, var(--accent-color) 40%, white 60%);
    background-color: #f2f2f2;
    padding: 24px 12px;
    border-radius: 12px;
    margin: 0 !important;
}
.pwe-element-auto-switch .pwe-conference-schedule__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}
.pwe-element-auto-switch .pwe-conference-schedule__top img {
    max-width: 260px;
}
.pwe-element-auto-switch .pwe-conference-schedule__top h3 {
    font-size: 29px;
    font-weight: 700;
    max-width: 560px;
    margin: 0;
}
.pwe-element-auto-switch .pwe-conference-schedule__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.pwe-element-auto-switch .pwe-conference-schedule__table { 
    width: 100%; 
    border: none;
    border-collapse: collapse; 
    margin: 0px; 
}
.pwe-element-auto-switch .pwe-conference-schedule__table th, 
.pwe-element-auto-switch .pwe-conference-schedule__table td {
    border: 2px solid var(--border-color) !important;
    padding: 6px;
    text-align: center;
    background: white !important;
}
.pwe-element-auto-switch .pwe-conference-schedule__timeline-bar { 
    height: 20px; 
    background-color: var(--accent-color); 
    animation: slide 1s ease-out; 
    position: relative; border-radius: 4px; 
}
@keyframes slide { from { width: 0; } to { width: 100%; } }

.pwe-element-auto-switch .pwe-conference-schedule__table td:not(:nth-child(1)):not(:nth-child(2)) {
    border-left: none !important;
    border-right: none !important;
}

.pwe-element-auto-switch .pwe-conference-schedule__wrapper .pwe-conference-schedule__table td:last-of-type {
    border-right: 2px solid var(--border-color) !important;
}

.pwe-element-auto-switch .pwe-conference-schedule__table tbody tr:not(:nth-child(1)) {
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: var(--border-color);
}
.pwe-element-auto-switch .pwe-conference-schedule__org-logo {
    max-height: 60px;
}

.pwe-element-auto-switch .pwe-conference-schedule__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
}

.pwe-element-auto-switch .pwe-conference-schedule__row-link {
    transition: 0.3s;
    border: none !important;
}

.pwe-element-auto-switch .pwe-conference-schedule__row-link:hover {
    transform: scale(1.01);
}
    
.pwe-element-auto-switch .pwe-conference-schedule__row-link:hover td {
    background-color: color-mix(in srgb, var(--accent-color) 10%, white 90%) !important;
}

.pwe-element-auto-switch .pwe-conference-schedule__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    border: none !important;
}

.pwe-element-auto-switch .pwe-conference-schedule__conf-name {
    font-size: 16px !important;
    margin: 0;
    color: black;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10%;
}

.swiper-pagination-bullet-active {
    background: var(--accent-color);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
} 

@media (min-width: 768px) {
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-list-wrapper {
        display: none;
    }
}

@media (max-width: 768px) {
    .pwe-element-auto-switch .pwe-conference-schedule__top {
        flex-direction: column;
        text-align: center;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__title-container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 6px;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__top img {
        max-width: 180px;
        margin-bottom: 12px;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__top h2 {
        font-size: 12px;
        line-height: 1.3;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__top h3 {
        font-size: 16px;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__multi-table-wrapper {
        display: none;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__buttons {
        flex-direction: column;
        gap: 10px;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-list-wrapper {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding: 0 12px;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-list {
        display: flex;
        gap: 16px;
        padding: 16px 0;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card {
        flex: 0 0 80%;
        scroll-snap-align: center;
        background: white;
        border-radius: 12px;
        padding: 16px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card img {
        max-width: 80%;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card h3 {
        margin-top: 18px;
        font-size: 14px;
    }

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card p {
        font-size: 12px;
    }  

    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card em {
        background: var(--accent-color);
        padding: 4px 10px;
        color: white;
        border-radius: 12px;
        font-weight: 500;
    }
}