#pweElementsAutoSwitch .wpb_column {
    padding: 0;
}

.pwe-limit-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;
}
.swiper-scrollbar-drag {
    background: black;
}

/* @media(max-width:1200px) { */
    .privacyButton {
        --button-size: 30px;
    }
/* } */