:root {
    --background-color: var(--accent_color_95_white);
}
.pwe-element-auto-switch {
    padding: 18px;
}
.pwe-element-auto-switch .pwe-main-title {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
}
.pwe-element-auto-switch .pwe-main-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    color: var(--accent-color);
    text-transform: uppercase;
}
.pwe-element-auto-switch .pwe-main-desc,
.pwe-element-auto-switch .pwe-main-desc p {
    margin: 0;
    font-weight: 500;
    line-height: 1.5;
    color: var(--accent-color);
}
@media(max-width:650px) {
    .pwe-element-auto-switch .pwe-main-title {
        font-size: 24px;
    }
}