:root {
    --border-color: #f2f2f2;
}
.pwe-element-auto-switch#conferenceGr2 {
    padding: 36px 18px 18px;
}
.pwe-element-auto-switch .pwe-conference-schedule__wrapper {
    background: var(--background-color);
    padding: 36px;
    border-radius: 12px;
    margin: 0 !important;
}
.pwe-element-auto-switch .pwe-conference-schedule__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pwe-element-auto-switch .pwe-conference-schedule__title-container {
    display: flex;
    flex-direction: column;
}
.pwe-element-auto-switch .pwe-conference-schedule__top img {
    max-width: 200px;
}
.pwe-element-auto-switch .pwe-conference-schedule__top h2 {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.8px;
    margin: 0;
}
.pwe-element-auto-switch .pwe-conference-schedule__content {
    margin-top: 18px;
}
.pwe-element-auto-switch .pwe-conference-schedule__table { 
    width: 100%; 
    border: none;
    border-collapse: collapse; 
    margin: 0px; 
    border-collapse: separate;
    border-spacing: 0 8px;
}
.pwe-element-auto-switch .pwe-conference-schedule__table th, 
.pwe-element-auto-switch .pwe-conference-schedule__table td {
    border: none !important;
    padding: 12px;
}
.pwe-element-auto-switch .pwe-conference-schedule__column-title {
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
}
.pwe-element-auto-switch .pwe-conference-schedule__column-title p {
    margin: 0;
    font-size: 14px;
}
.pwe-element-auto-switch .pwe-conference-schedule__org-logo {
    max-height: 60px;
}
.pwe-element-auto-switch .pwe-conference-schedule__row-link {
    transition: 0.3s;
    border: none !important;
    background: white;
}
.pwe-element-auto-switch .pwe-conference-schedule__row-link td {
    transition: 0.3s;
}
.pwe-element-auto-switch .pwe-conference-schedule__row-link td:first-child {
    border-radius: 6px 0 0 6px;
}
.pwe-element-auto-switch .pwe-conference-schedule__row-link td:last-child {
    border-radius: 0 6px 6px 0;
}
.pwe-element-auto-switch .pwe-conference-schedule__row-link:hover {
    transform: scale(1.01);
}
.pwe-element-auto-switch .pwe-conference-schedule__row-link:hover td {
    background-color: color-mix(in srgb, var(--accent-color) 10%, white 90%) !important;
}
.pwe-element-auto-switch .pwe-conference-schedule__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border: none !important;
    padding-left: 8px;
}
.pwe-element-auto-switch .pwe-conference-schedule__conf-name {
    font-size: 16px !important;
    margin: 0;
    color: black;
}
.pwe-element-auto-switch .pwe-conference-schedule__dates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.pwe-element-auto-switch .pwe-conference-schedule__date {
  flex: 1;
  text-align: center;
  padding: 10px 8px;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid transparent;
  border-right: none;
  color: #1b1b1b;
  min-width: 120px;
}
.pwe-element-auto-switch .pwe-conference-schedule__date.active {
  border-color: #1b2b50;
  background: #fff;
}
.pwe-element-auto-switch .pwe-conference-schedule__date.active:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.pwe-element-auto-switch .pwe-conference-schedule__date.active:last-of-type,
.pwe-element-auto-switch .pwe-conference-schedule__date.active:not(:has(+ .pwe-conference-schedule__date.active)) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid #1b2b50;
}
.pwe-element-auto-switch .pwe-conference-schedule__date.inactive {
  color: #a0a8b5;
  border: none;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: start;
    gap: 10px;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn-container {
    position: relative;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn {
    display: flex;
    color: white !important;
    transform: scale(1);
    transition: .3s ease;
    font-size: 16px;
    align-items: flex-end;
    border-radius: 10px;
    padding: 30px 60px 18px 18px;
    font-weight: 600;
    gap: 10px;
    min-width: auto;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn.btn-visitors {
    background: var(--main2-color);
    max-width: 140px;
    min-width: 140px;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn.btn-more {
    background: var(--accent-color);
    color: white;
    max-width: 170px;
    min-width: 170px;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn-container .btn-angle-right {
    position: absolute;
    right: 36px;
    transition: .3s ease;
}
.pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn-container:hover .btn-angle-right {
    right: 20px;
}
@media (min-width: 768px) {
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-list-wrapper,
    .pwe-element-auto-switch .pwe-conference-schedule .swiper-buttons-arrows,
    .pwe-element-auto-switch .pwe-conference-schedule .swiper-nav {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .pwe-element-auto-switch .pwe-conference-schedule .swiper-buttons-arrows,
    .pwe-element-auto-switch .pwe-conference-schedule .swiper-nav {
        display: flex !important;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__wrapper {
        background: inherit;
        padding: 0;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__table {
        display: none;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-list-wrapper {
        display: flex;
        margin-top: 16px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__top {
        text-align: start;
        align-items: inherit;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__top .pwe-main-title,
    .pwe-element-auto-switch .pwe-conference-schedule__top img {
        display: none;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__top .pwe-subtitle {
        font-size: 28px;
        color: black;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__title-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__top img {
        max-width: 180px;
        margin-bottom: 12px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__top h2 {
        font-size: 12px;
        line-height: 1.3;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__top h3 {
        font-size: 16px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__content {
        margin: 0;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-list {
        display: flex;
        width: 100%;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card {
        background: white;
        border-radius: 12px;
        border: 1px solid var(--accent-color);
        padding: 16px;
        box-shadow: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card img {
        max-width: 80%;
        background: white;
        padding: 6px;
        border-radius: 8px;
        max-height: 70px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card h3 {
        margin-top: 18px;
        font-size: 22px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card p {
        font-size: 12px;
    }  
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card em {
        background: var(--accent-color);
        padding: 4px 10px;
        color: white;
        border-radius: 12px;
        font-weight: 500;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__mobile-card-main-content {
        width: 100%;
        background: var(--background-color);
        padding: 12px;
        border-radius: 12px;
        margin: 0;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__row-title {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px 0;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__row-title p {
        margin: 0;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__dates,
    .pwe-element-auto-switch .pwe-conference-schedule__row-title {
        width: 100%;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__date {
        padding: 8px 4px;
        min-width: 100px;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__buttons.desktop {
        display: none;
    }
    .pwe-element-auto-switch .pwe-conference-schedule__buttons .pwe-btn {
        max-width: 100% !important;
        min-width: auto !important;
        padding: 10px;
    }
}