.pwe-element-auto-switch .pwe-speakers__title {
    display: flex;
    justify-content: space-between;
}
.pwe-element-auto-switch .pwe-speakers__title p {
    margin: 0;
    max-width: 600px;
}
.pwe-element-auto-switch .pwe-speakers__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 18px;
}
.pwe-element-auto-switch .pwe-speakers__item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(64, 64, 64, 0.32);
    border-radius: 18px;
    overflow: hidden;
}
.pwe-element-auto-switch .pwe-speakers__item-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    height: 100%;
}
.pwe-element-auto-switch .pwe-speakers__item p {
    font-weight: 500;
}
.pwe-element-auto-switch .pwe-speakers__item :is(h3, p) {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1.2;
}
.pwe-element-auto-switch .pwe-speakers__item h3 {
    font-size: 18px;
}
.pwe-element-auto-switch .pwe-speakers__item-position {
    padding-top: 4px;
    color: var(--accent-color);
}
.pwe-element-auto-switch .pwe-speakers__item-company {
    font-size: 14px;
}
.pwe-element-auto-switch .pwe-speakers__company-img {
    display: flex;
    align-items: center;
    max-width: 105px;
}
.pwe-element-auto-switch .pwe-speakers__speaker-img {
    position: relative;
}
.pwe-element-auto-switch .pwe-speakers__company-img img {
    width: 100%;
    min-width: 105px;
}
.pwe-element-auto-switch .pwe-speakers__item-bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}
.pwe-element-auto-switch .pwe-speakers__item-bio-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
.pwe-element-auto-switch .pwe-speakers__item-bottom-wrapper button {
    display: flex;
    /* background: linear-gradient(to right, var(--accent_lighter_color), var(--accent_light_color)); */
    background: var(--accent-color);
    border-radius: 6px;
    color: white;
    padding: 8px;
    font-size: 11px;
    font-weight: 600;
    transition: .3s ease;
}
.pwe-element-auto-switch .pwe-speakers__item-bottom-wrapper button:hover {
    background: var(--accent_darker_color);
}
.pwe-element-auto-switch .pwe-speakers__item-desc {
    display: none;
}

@media (max-width:960px) {
    .pwe-element-auto-switch .pwe-speakers__items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:600px) {
    .pwe-element-auto-switch .pwe-speakers__items {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px) {
    .pwe-element-auto-switch .pwe-speakers__items {
        grid-template-columns: 1fr;
    }
}