#pweElementsAutoSwitch .summary {
    max-width: 100%;
    padding: 0;
}
#pweElementsAutoSwitch .pwe-summary {
    width: 100%;
    font-family: inherit;
}
#pweElementsAutoSwitch .pwe-summary__heading {
    display: flex;
    justify-content: space-between;
    padding: 48px 18px 18px;
    max-width: 1200px;
    margin: 0 auto;
}
#pweElementsAutoSwitch .pwe-summary__heading-text {
    display: flex;
    flex-direction: column;
}
#pweElementsAutoSwitch .pwe-summary__title {
    line-height: 1.1;
    margin: 0;
    max-width: 600px;
}
#pweElementsAutoSwitch .pwe-summary__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 18px;
}
#pweElementsAutoSwitch .pwe-summary__logos img {
    height: 75px;
    width: auto;
    object-fit: contain;
}
#pweElementsAutoSwitch .pwe-summary__background {
    position: relative;
    background-image:url(/wp-content/plugins/pwe-media/media/bg-object.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pweElementsAutoSwitch .pwe-summary__background:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #434343;
    opacity: 20%;
    z-index: 1;
}
#pweElementsAutoSwitch .pwe-summary__background.mobile {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16 / 9;
}
#pweElementsAutoSwitch .pwe-summary__background-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 72px 0;
    display: flex;
    justify-content: right;
}
#pweElementsAutoSwitch .pwe-summary__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 600px;
    z-index: 2;
}
#pweElementsAutoSwitch .pwe-summary__stat {
    background: #ffffff9e;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: black;
    border-radius: 16px;
    padding: 18px;
    position: relative;
    overflow: hidden;
    width: 260px;
}
#pweElementsAutoSwitch .pwe-summary__stat.mobile {
    display: none;
}
#pweElementsAutoSwitch .pwe-summary__stat img {
    position: absolute;
    width: 50px;
    right: 18px;
    top: 18px;
    filter: brightness(0) invert(0);
}
#pweElementsAutoSwitch .pwe-summary__stat h3 {
    margin: 46px 0 0;
    font-size: 40px;
    font-weight: 700;
    color: black;
}
#pweElementsAutoSwitch .pwe-summary__stat p {
    font-size: 14px;
    margin: 0;
    color: black;
}
@media (max-width: 960px) {
    #pweElementsAutoSwitch .pwe-summary__background:before {
        display: none;
    }
    #pweElementsAutoSwitch .pwe-summary__heading {
        flex-direction: column;
        gap: 20px;
    }
    #pweElementsAutoSwitch .pwe-summary__title {
        line-height: 1.3;
    }
    #pweElementsAutoSwitch .pwe-summary__logos {
        display: none;
    }
    #pweElementsAutoSwitch .pwe-summary__background-wrapper {
        padding: 18px;
        justify-content: center;
    }
    #pweElementsAutoSwitch .pwe-summary__stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -50px;
        gap: 12px;
        max-width: 500px;
    }
    #pweElementsAutoSwitch .pwe-summary__stat {
        width: auto;
        aspect-ratio: 5 / 4;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background: var(--accent-color);
    }
    #pweElementsAutoSwitch .pwe-summary__stat img {
        width: 30px;
        filter: brightness(0) invert(1);
    }
    #pweElementsAutoSwitch .pwe-summary__stat h3 {
        margin: 30px 0 0;
        font-size: 32px;
        color: white;
    }
    #pweElementsAutoSwitch .pwe-summary__stat p {
        line-height: 1.3;
        color: white;
    }
      #pweElementsAutoSwitch .pwe-summary__stat {
        aspect-ratio: 3 / 2;
    }
    #pweElementsAutoSwitch .pwe-summary__stat.mobile {
        display: flex;
        background: white;
        justify-content: center;
        padding: 0; 
        border: 1px solid #d5d5d5;
    }
    #pweElementsAutoSwitch .pwe-summary__stat.mobile img {
        position: relative;
        width: auto;
        right: unset;
        top: unset;
        filter: unset;
        object-fit: contain;
    }
    #pweElementsAutoSwitch .pwe-summary__background {
        background-image: unset;
    }
    #pweElementsAutoSwitch .pwe-summary__background.mobile {
        display: block;
        background-image:url(/wp-content/plugins/pwe-media/media/bg-object.jpg);
    }
    @media (max-width: 400px) {
        #pweElementsAutoSwitch .pwe-summary__stat h3 {
            font-size: 28px;
        }
        #pweElementsAutoSwitch .pwe-summary__stat p {
            font-size: 12px;
        }
    }
}
