#pweElementsAutoSwitch .summary {
    max-width: 100%;
    padding: 0;
}
.pwe-summary {
    width: 100%;
    font-family: inherit;
}
.pwe-summary__heading {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.pwe-summary__heading-text {
    display: flex;
    flex-direction: column;
}
.pwe-summary__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    max-width: 650px;
}
.pwe-summary__logos {
    display: flex;
    align-items: center;
    gap: 40px;
}
.pwe-summary__logos img {
    height: 75px;
    width: auto;
    object-fit: contain;
}
.pwe-summary__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pwe-summary__background-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 72px 0;
    display: flex;
    justify-content: right;
}
.pwe-summary__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 600px;
}
.pwe-summary__stat {
    background: var(--accent-color);
    color: white;
    border-radius: 24px;
    padding: 18px;
    position: relative;
    overflow: hidden;
    width: 260px;
}
.pwe-summary__stat img {
    position: absolute;
    width: 50px;
    right: 18px;
    top: 18px;
    filter: brightness(0) invert(1);
}
.pwe-summary__stat h3 {
    margin: 36px 0 0;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.pwe-summary__stat p {
    font-size: 14px;
    margin: 0;
}
@media (max-width: 900px) {
    .pwe-summary__heading {
        flex-direction: column;
        gap: 20px;
    }
    .pwe-summary__stats {
        grid-template-columns: 1fr;
        margin: 40px 0;
    }
}
