/* // ANCHOR MAIN CONTAINER */

aside#usercentrics-cmp-ui {
    display: none;
}

.footer-scroll-top {
    bottom: 90px !important;
}

.row.limit-width.row-parent:has(#exhibitorPage) {
    padding: 0;
    max-width: 100%;
}

#exhibitorCatalogGr1:has(#exhibitorPage) {
    padding: 0;
    max-width: 100% !important;
}

.pwe-limit-width:has(#exhibitorPage) {
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0 !important;
}

#exhibitorPage.exhibitor-single-mobile {
    display: flex;
    flex-direction: column;
}

#exhibitorPage .exhibitor-single-mobile__header {
    width: 100%;
    min-width: 100%;
    height: 170px;
    background-image: url(/doc/background.webp);
    background-size: cover;
    background-position: center;
}

#exhibitorPage .exhibitor-single-mobile__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: -90px auto 0;
    padding: 0 18px 36px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#exhibitorPage .exhibitor-single-mobile__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* // ANCHOR CONTACT MENU */

#exhibitorPage .exhibitor-single-mobile__contact {
    width: 100%;
    height: 64px;
    background: #fff;
    box-shadow: 0 0 12px -6px black;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 10;
}

#exhibitorPage .exhibitor-single-mobile__contact-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exhibitorPage .exhibitor-single-mobile__contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    font-weight: 600;
}

#exhibitorPage .exhibitor-single-mobile__contact-item svg {
    width: 32px;
    height: 32px;
}

/* // ANCHOR EXHIBITOR INFO */

#exhibitorPage .exhibitor-single-mobile__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
}

#exhibitorPage .exhibitor-single-mobile__logo {
    margin: auto;
    width: 100%;
    height: auto;
    aspect-ratio: 4/2;
    object-fit: contain;
    background-color: #fffffe;
    padding: 8px;
    border: 1px solid var(--main2-color);
    border-bottom: 0;
    border-radius: 14px 14px 0 0;
}

#exhibitorPage .exhibitor-single-mobile__stand {
    font-weight: 700;
    font-size: 15px;
    background-color: var(--main2-color);
    color: #fff;
    text-align: center;
    padding: 5px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 0 0 14px 14px;
}

#exhibitorPage .exhibitor-single-mobile__stand svg {
    width: 16px;
    height: 16px;
}

#exhibitorPage .exhibitor-single-mobile__socials {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#exhibitorPage .exhibitor-single-mobile__socials-list {
    display: flex;
    gap: 18px;
}

#exhibitorPage .exhibitor-single-mobile__socials-link {
    display: block;
    width: 32px;
    height: 32px;
    filter: contrast(0);
    transition: 0.3s ease;
}

#exhibitorPage .exhibitor-single-mobile__socials-link:hover {
    filter: contrast(1);
}

#exhibitorPage .exhibitor-single-mobile__socials-link svg {
    width: 100%;
    height: 100%;
}

/* // ANCHOR CONTENT */

#exhibitorPage .exhibitor-single-mobile__title {
    font-weight: 700;
    font-size: 28px;
    color: #2a2b2d;
    margin: 0;
}

#exhibitorPage .exhibitor-single-mobile__section-title {
    font-weight: 700;
    font-size: 22px;
    color: #2a2b2d;
    margin: 0;
}

#exhibitorPage .exhibitor-single-mobile__section,
#exhibitorPage .exhibitor-single-mobile__socials,
#exhibitorPage .exhibitor-single-mobile__industries,
#exhibitorPage .exhibitor-single-mobile__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 36px 18px 22px;
    border-radius: 22px;
    background-color: #fffffe;
    box-shadow: 0px 0px 36px 0px #2a2b2d1a;
}

#exhibitorPage .exhibitor-single-mobile__section-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #6d6e6e;
}

.exhibitor-single-mobile__industries-item,
#exhibitorPage .exhibitor-single-mobile__categories-item {
    padding: 24px;
    background-color: #f0f0f0;
    color: #2a2b2d;
    font-weight: 700;
    font-size: 13px;
    border-radius: 36px;
}

.collapsible-text {
    overflow: hidden;
    transition: height 0.35s ease;
    height: 152px;
}

/* przycisk */
.collapsible-toggle {
    display: none;
    margin-left: auto;
    padding: 10px 18px;
    background: var(--main2-color);
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* // ANCHOR BRANDS */

#exhibitorPage .exhibitor-single-mobile__brands {
    --swiper-navigation-size: 14px;
    --swiper-navigation-color: #2a2b2d;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 20px 18px;
}

#exhibitorPage .exhibitor-single-mobile__brands-item {
    /* aspect-ratio: 4/2; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #bcbcbc;
    word-break: auto-phrase;
    width: auto;
    padding: 16px;
}

/* // ANCHOR PRODUCTS */

#exhibitorPage .exhibitor-single-mobile__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#exhibitorPage .exhibitor-single-mobile__products-title {
    font-weight: 700;
    font-size: 22px;
    color: #2a2b2d;
    margin: 0;
}

#exhibitorPage .exhibitor-single-mobile__products-count {
    font-weight: 400;
}

#exhibitorPage .exhibitor-single-mobile__product-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#exhibitorPage .exhibitor-single-mobile__product-img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #2a2b2d;
    border-radius: 14px;
}

#exhibitorPage .exhibitor-single-mobile__product-title {
    font-weight: 500;
    font-size: 14px;
    color: #2a2b2d;
    margin: 0;
}

#exhibitorPage .exhibitor-catalog__modal-open {
    background: #00000040;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 2px;
    width: 28px;
    height: 28px;
}

/* // ANCHOR DOCUMENTS */

#exhibitorPage .exhibitor-single-mobile__documents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#exhibitorPage .exhibitor-single-mobile__documents-title {
    font-weight: 700;
    font-size: 22px;
    color: #2a2b2d;
    margin: 0;
}

#exhibitorPage .exhibitor-single-mobile__documents-count {
    font-weight: 400;
}

#exhibitorPage .exhibitor-single-mobile__document-item {
    aspect-ratio: 5/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    border: 1px solid #2a2b2d;
    border-radius: 14px;
}

#exhibitorPage .exhibitor-single-mobile__document-title {
    font-weight: 500;
    font-size: 14px;
    color: #2a2b2d;
    margin: 0;
    word-break: break-all;
}

#exhibitorPage .exhibitor-single-mobile__document-link {
    background-color: var(--accent-color);
    border-radius: 36px;
    padding: 8px 16px;
    margin: auto 0 0 auto;
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
}
