.pwe-exhibitors-top12 {
    flex: 1;
    max-width: 550px;
    margin-top: 100px;
    vertical-align: inherit !important;
    border: 2px solid var(--main2-color) !important;
    border-radius: 18px;
}
.pwe-exhibitors-top12__logo img {
    height: 84px;
} 