.pwe-element-auto-switch.conference {
    background: #f5f0de;
    max-width: 100%;
}
.pwe-element-auto-switch .pwe-conference__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 0;
}
.pwe-element-auto-switch .pwe-conference__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}
.pwe-element-auto-switch .pwe-conference__left img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.pwe-element-auto-switch .pwe-conference__right {
    height: 100%;
    padding: 18px 0;
}
.pwe-element-auto-switch .pwe-conference__right-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pwe-element-auto-switch .pwe-conference__name {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0;
    color: #2b2b2b;
}
.pwe-element-auto-switch .pwe-conference__desc {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
}
.pwe-element-auto-switch .pwe-conference__btn {
    display: inline-block;
    background: #CDAC8C;
    color: #fff !important;
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s ease;
}
.pwe-element-auto-switch .pwe-conference__btn:hover {
    background: #b38c64;
}

/* ICONS */

.pwe-element-auto-switch .pwe-conference__icons {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.pwe-element-auto-switch .pwe-conference__icons-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.pwe-element-auto-switch .pwe-conference__icons-item img {
    width: 80px;
    height: auto;
    object-fit: contain;
}
.pwe-element-auto-switch .pwe-conference__icons-item-text h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #2b2b2b;
}
.pwe-element-auto-switch .pwe-conference__icons-item-text p {
    margin: 0;
    font-size: 13px;
    color: #666;
    line-height: 1.4;
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .pwe-element-auto-switch .pwe-conference__info {
        grid-template-columns: 1fr;
    }
    .pwe-element-auto-switch .pwe-conference__icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .pwe-element-auto-switch .pwe-conference__icons {
        grid-template-columns: 1fr;
    }
}