#pweElementsAutoSwitch .pwe-countdown__label,
#pweElementsAutoSwitch .pwe-countdown__timer {
    font-size: 26px !important;
    margin: 24px auto !important;
}
#pweElementsAutoSwitch .pwe-countdown__cta {
    margin: 24px auto !important;
}
#pweElementsAutoSwitch .pwe-countdown__cta .pwe-btn {
    border-radius: 40px !important;
    padding: 18px 32px !important;
}
@media (max-width: 960px) {
    #pweElementsAutoSwitch .pwe-countdown__label,
    #pweElementsAutoSwitch .pwe-countdown__timer {
        margin: 8px auto !important;
    }
    #pweElementsAutoSwitch .pwe-countdown__cta {
        margin-bottom: 28px !important;
    }
}
@media (max-width: 570px) {
    #pweElementsAutoSwitch .pwe-countdown {
        border-radius: 18px 18px 0 0;
    }
}
@media (max-width: 450px) {
    #pweElementsAutoSwitch .pwe-countdown__label,
    #pweElementsAutoSwitch .pwe-countdown__timer {
        font-size: 20px !important; 
    }
}