.pwe-element-auto-switch .pwe-countdown__wrapper {
    justify-content: space-between;
}
.pwe-element-auto-switch .pwe-countdown__label,
.pwe-element-auto-switch .pwe-countdown__timer {
    font-size: 26px !important;
    margin: 24px auto !important;
}
.pwe-element-auto-switch .pwe-countdown__cta {
    margin: 24px auto !important;
}
.pwe-element-auto-switch .pwe-countdown__cta .pwe-btn {
    position: relative;
    border-radius: 40px !important;
    padding: 12px 50px 12px 30px !important;
    margin: 10px auto;
    background-color: var(--main2-color);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.pwe-element-auto-switch .pwe-countdown__cta .pwe-btn:hover {
    background-color: var(--main2_darker_color);
    color: #fff;
}
.pwe-element-auto-switch .pwe-countdown__cta .pwe-btn svg {
    position: absolute;
    right: 28px;
    transition: .3s ease;
}
.pwe-element-auto-switch .pwe-countdown__cta .pwe-btn:hover svg {
    position: absolute;
    right: 22px;
}
@media (max-width: 960px) {
    .pwe-element-auto-switch .pwe-countdown__label,
    .pwe-element-auto-switch .pwe-countdown__timer {
        margin: 8px auto !important;
    }
    .pwe-element-auto-switch .pwe-countdown__cta {
        margin-bottom: 28px !important;
        width: 100%;
        
    }
}
@media (max-width: 570px) {
    .pwe-element-auto-switch .pwe-countdown {
        border-radius: 18px 18px 0 0;
    }
}
@media (max-width: 450px) {
    .pwe-element-auto-switch .pwe-countdown__label,
    .pwe-element-auto-switch .pwe-countdown__timer {
        font-size: 20px !important; 
    }
}