#exhibitorCatalog .exhibitor-catalog__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

#exhibitorCatalog .exhibitor-catalog__pagination-btn {
    flex: 1;
    max-width: 240px;
    margin: 0;
    padding: 16px;
    background-color: var(--accent-color);
    color: #FFFFFE;
    border-radius: 36px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    transition: .3s ease;
}

#exhibitorCatalog .exhibitor-catalog__pagination-btn:hover {
    background-color: var(--accent_darker_color);
}