.pwe-element-auto-switch.countdown {
    max-width: 100%;
    padding: 0;
}

.pwe-element-auto-switch .pwe-countdown {
    background-color: var(--accent-color);
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.pwe-element-auto-switch .pwe-countdown__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .pwe-element-auto-switch .pwe-countdown__wrapper {
        flex-wrap: wrap;
    }
    .pwe-element-auto-switch .pwe-countdown__label,
    .pwe-element-auto-switch .pwe-countdown__timer {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .pwe-element-auto-switch .pwe-countdown__wrapper {
        flex-direction: column;
    }
    .pwe-element-auto-switch .pwe-countdown__label,
    .pwe-element-auto-switch .pwe-countdown__timer {
        width: 100%;
    }
}



.pwe-element-auto-switch .opening-hours {
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 10px 36px;
}
.pwe-element-auto-switch .opening-hours p {
    font-size: 20px;
    color: white;
    margin: 0 !important;
}
.pwe-element-auto-switch .opening-hours__block {
    display: flex;
}
.pwe-element-auto-switch .opening-hours__title {
    font-weight: 700;
}
.pwe-element-auto-switch .opening-hours__date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 18px;
}
.pwe-element-auto-switch .opening-hours__date .hours {
    font-weight: 700;
    padding: 0 18px;
}
.pwe-element-auto-switch .opening-hours__hall {
    padding:0 25px;
    display: flex;
}
.pwe-element-auto-switch .opening-hours__hall p {
    padding:0 10px;
}
@media(max-width: 1050px) {
    .pwe-element-auto-switch .opening-hours {
        justify-content: center;
    }
    .pwe-element-auto-switch .opening-hours p {
        font-size: 18px;
    }
    .pwe-element-auto-switch .opening-hours__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
}
@media(max-width: 500px) {
    .pwe-element-auto-switch .opening-hours {
        padding: 10px 18px;
    }
    .pwe-element-auto-switch .opening-hours p {
        font-size: 16px;
        text-align: center;
        line-height: 1.4;
    }
    .pwe-element-auto-switch .opening-hours__date {
        padding: 0;
    }
}
@media(max-width: 370px) {
    .pwe-element-auto-switch .opening-hours p {
        font-size: 14px;
    }
}