#pweElementsAutoSwitch .footer {
    max-width: 100%;
    padding: 0;
}
#pweElementsAutoSwitch .pwe-footer__nav {
    background-color: black;
    padding: 36px;
}
#pweElementsAutoSwitch .pwe-footer__nav-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 18px;
}
#pweElementsAutoSwitch .menu-item a {
    color: white;
}
#pweElementsAutoSwitch .pwe-footer__nav-left-column, 
#pweElementsAutoSwitch .pwe-footer__nav-right-column {
    display: flex;
    gap: 18px;
}
#pweElementsAutoSwitch .pwe-footer__nav-left-column {
    width: 25%;
}
#pweElementsAutoSwitch .pwe-footer__nav-right-column {
    width: 75%;
}
#pweElementsAutoSwitch .pwe-footer__nav-logo-column {
    width: 100%;
}
#pweElementsAutoSwitch .pwe-footer__nav-column {
    width: 33.333%;
}
#pweElementsAutoSwitch .pwe-footer__nav-column h4 span {
    color: white;
}
#pweElementsAutoSwitch .pwe-footer__nav-logo-top,
#pweElementsAutoSwitch .pwe-footer__nav-logo-bottom {
    max-width: 200px !important;
}
#pweElementsAutoSwitch .pwe-footer__nav-logo-bottom img {
    padding: 8px;
    max-height: 150px;
    object-fit: contain;
}
#pweElementsAutoSwitch .pwe-footer__nav-links ul {
    padding: 0 !important;
    list-style: none !important;
}
#pweElementsAutoSwitch .pwe-footer__nav-links ul li a {
    color: white !important;
}
@media (max-width:1000px){
    #pweElementsAutoSwitch .pwe-footer__nav-column h4 span {
        font-size: 16px;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-left-column {
        width: 30%;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-right-column {
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-column {
        width: 47%;
    }
}
@media (max-width:720px) {
    #pweElementsAutoSwitch .pwe-footer__nav-column h4 span {
        font-size: 14px;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-links ul li a {
        font-size: 14px;
    }
}
@media (max-width:640px) {
    #pweElementsAutoSwitch .pwe-footer__nav-wrapper {
        flex-direction: column;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-left-column {
        width: 100%;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-logo-top,
    #pweElementsAutoSwitch .pwe-footer__nav-logo-bottom {
        margin: 0 auto;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-right-column {
        width: 100%;
    }
}
@media (max-width:500px) {
    #pweElementsAutoSwitch .pwe-footer__nav-right-column {
        flex-direction: column;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-logo-top,
    #pweElementsAutoSwitch .pwe-footer__nav-logo-bottom {
        max-width: 80% !important;
    }
    #pweElementsAutoSwitch .pwe-footer__nav-column {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}